:root {
  //padding and margins
  --container-padding: 15px;
  --text-indent: 10px;
}
@media (min-width: 768px) {
  //padding and margins
  :root {
    --container-padding: 20px;
  }
}

@media (min-width: 1024px) {
  //padding and margins
  :root {
    --container-padding: 20px;
  }
}
