:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  color: var(--hue-txt-clear, aliceBlue);
  & a,
  & li {
    color: var(--hue-txt-clear, aliceBlue);
  }
  & a:visited,
  & a:hover,
  & a:focus {
    color: var(--hue-txt-clear, aliceBlue);
  }
  & li {
    font-size: 12px;
  }
}

h1 {
  white-space: nowrap;
}
h2 {
  margin-bottom: 0;
}
ul {
  position: relative;
  top: 9px;
  left: 25px;
  li {
    padding-left: 29px;
  }
}

.title-container-desktop {
  display: none;
}
.title-container-mobile {
  display: flex;
  h2 {
    position: relative;
    right: 8px;
  }
  justify-content: center;
  flex-direction: column;
  position: absolute;
  transform: translateX(-71%) translateY(87%) rotate(-90deg);
}

@media (min-width: 768px) {
  /* Tablet */
  :host {
    min-height: initial;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  ul {
    left: 0;
    top: 0;
  }
  h1 {
    margin-bottom: 7px;
  }
  .title-container-desktop {
    display: flex;
  }
  .title-container-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  :host {
    justify-content: space-around;
  }
  .title-wrapper {
    display: flex;
    gap: 10px;
  }
}
