:host {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 145px;
  color: var(--hue-txt-clear, aliceBlue);
  & a,
  & li {
    color: var(--hue-txt-clear, aliceBlue);
  }
  & a:visited,
  & a:hover,
  & a:focus {
    color: var(--hue-txt-clear, aliceBlue);
  }
  & li {
    font-size: 12px;
  }
}

h1 {
  white-space: nowrap;
  margin-bottom: 0px;
}
h2 {
  margin-bottom: 0;
}
ul {
  position: relative;
  top: 9px;
  left: -10px;
  li {
    padding-left: 29px;
  }
}
.title-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.title-container-desktop {
  display: none;
}
.title-container-mobile {
  display: flex;
  h2 {
    position: relative;
    right: 8px;
  }
  justify-content: center;
  flex-direction: column;
  position: absolute;
  transform: translateX(-71%) translateY(87%) rotate(-90deg);
}
.selector-mobile {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  /* Tablet */
  :host {
    min-height: initial;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  ul {
    left: 0;
    top: 0;
  }

  .title-container-desktop {
    width: 100%;
    display: flex;
    flex: 1;
  }
  .title-container-mobile {
    display: none;
  }
  .name-wrapper {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    justify-content: space-between;
  }
  .selector-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  :host {
    justify-content: space-around;
  }
}
