<div class="title-container-desktop">
  <div class="title-wrapper">
    <div class="title-wrapper">
      <h1>Samuel Marquis</h1>
      <cv-lang-selector></cv-lang-selector>
    </div>
    <h2>{{ "jobTitle" | translate }}</h2>
  </div>
</div>
<ul class="icon-list">
  <div class="title-container-mobile">
    <h1>Samuel Marquis</h1>
    <h2>{{ "jobTitle" | translate }}</h2>
  </div>
  <li>
    <img
      class="list-img-icon"
      src="assets/imgs/location-pin.png"
      alt="localisation"
    />
    St-Jérôme, Qc, Ca
  </li>
  <li>
    <img class="list-img-icon" src="assets/imgs/gmail.png" alt="email" />
    <a
      href="mailto:marquis.sam@gmail.com"
      [innerHTML]="'marquis.sam@gmail.com'"
    ></a>
  </li>
  <li>
    <img class="list-img-icon" src="assets/imgs/telephone.png" alt="call" />
    <a href="tel:+15147796358"> 514-779-6358 </a>
  </li>
  <li>
    <img class="list-img-icon" src="assets/imgs/linkedin.png" alt="Linkedin" />
    <a
      href="https://www.linkedin.com/in/samuel-marquis-006bb9108"
      target="_blank"
    >
      Linkedin
    </a>
  </li>
  <li>
    <img
      class="list-img-icon"
      src="assets/imgs/github_PNG22.png"
      alt="Github"
    />
    <a href="https://github.com/marquisSam" target="_blank"> Github </a>
  </li>
</ul>
