<h3>Expériences Professionnelles</h3>
<section id="work-experience">
  @for(workExperience of workExperiences ; track workExperience){
  <div class="wrapper-work-experiences">
    <div class="wrapper-job-description">
      <div class="wrapper-experience">
        <span class="company-name">{{ workExperience.company }}</span>
        <span class="separator">|</span>
        <span class="company-title"> {{ workExperience.title }} </span>
        <span class="separator">|</span>
        <span class="company-date">
          {{ workExperience.startDate | date }} -
          {{ workExperience.endDate | date }}
        </span>
      </div>

      @for(reference of workExperience.references ; track reference){

      <div class="wrapper-reference">
        <p>
          {{ reference.name }}
          <span *ngIf="reference.function">, {{ reference.function }}</span>
        </p>
        <a [href]="'tel:' + reference.phone">{{ reference.phone }}</a>
        <a [href]="'mailto:' + reference.email">{{ reference.email }}</a>
      </div>

      }
    </div>

    <div class="wrapper-responsabilities">
      <h5>responsabilités</h5>
      <ul class="basic-list">
        <li *ngFor="let responsability of workExperience.responsibilities">
          {{ responsability }}
        </li>
      </ul>
    </div>

    <div class="wrapper-achievements">
      <h5>Défis réalisés</h5>

      <ul class="basic-list">
        <li *ngFor="let achievement of workExperience.achievements">
          {{ achievement }}
        </li>
      </ul>
    </div>
  </div>
  }
</section>
