:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section#quick-info {
  padding: 20px var(--container-padding);
  background-color: var(--hue-dark-grey);
}

section {
  padding: 0 var(--container-padding) 0 var(--container-padding);
  &:last-of-type {
    padding-bottom: var(--container-padding);
  }
}
