<section id="quick-info">
  <cv-quick-info id="container-info"></cv-quick-info>
</section>

<section id="skills">
  <cv-skill-list
    title="Principales habiletés"
    [list]="hardSkills"
    [listStyle]="'icon'"
  ></cv-skill-list>
</section>

<section id="soft-skills">
  <cv-skill-list
    title="Connaissances additionnelles"
    [list]="softSkills"
    [multiColumn]="true"
    [listStyle]="'icon'"
  ></cv-skill-list>
</section>

<section id="transferable-asset">
  <cv-skill-list
    title="Atouts Transférables"
    [list]="transferableAsset"
  ></cv-skill-list>
</section>
