<section id="quick-info">
  <cv-quick-info id="container-info"></cv-quick-info>
</section>

<section id="skills">
  <cv-skill-list
    title="Principales habiletés"
    [list]="(dataService.hardSkillsSelector$ | async) || []"
    [listStyle]="'icon'"
  ></cv-skill-list>
</section>

<section id="soft-skills">
  <cv-skill-list
    title="Connaissances additionnelles"
    [list]="(dataService.softSkillsSelector$ | async) || []"
    [multiColumn]="true"
    [listStyle]="'icon'"
  ></cv-skill-list>
</section>

<section id="would-learn-asset">
  <cv-skill-list
    title="J'aimerais apprendre"
    [list]="(dataService.wouldLearnSelector$ | async) || []"
    [multiColumn]="true"
    [listStyle]="'icon'"
  ></cv-skill-list>
</section>

<section id="transferable-asset">
  <cv-skill-list
    title="Atouts Transférables"
    [list]="(dataService.transferableAssetsSelector$ | async) || []"
  ></cv-skill-list>
</section>
