:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: grey;
}

#contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#transferable-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
