<div id="container-info" class="dark-background">
  <h1>Samuel Marquis</h1>
  <h2>Développeur Web</h2>
  <ul class="icon-list">
    <li>
      <img
        class="img-icon"
        src="assets/imgs/location-pin.png"
        alt="localisation"
      />
      St-Jérôme, Qc, Ca
    </li>
    <li>
      <img class="img-icon" src="assets/imgs/gmail.png" alt="email" />
      <a href="mailto:marquis.sam@gmail.com"> marquis.samgmail.com</a>
    </li>
    <li>
      <img class="img-icon" src="assets/imgs/telephone.png" alt="call" />
      <a href="tel:+15147796358"> 514-779-6358 </a>
    </li>
    <li>
      <img class="img-icon" src="assets/imgs/linkedin.png" alt="Linkedin" />
      <a
        href="https://www.linkedin.com/in/samuel-marquis-006bb9108"
        target="_blank"
      >
        Linkedin
      </a>
    </li>
    <li>
      <img class="img-icon" src="assets/imgs/github_PNG22.png" alt="Github" />
      <a href="https://github.com/marquisSam" target="_blank"> Github </a>
    </li>
  </ul>
</div>
<div id="container-skill">
  <div id="block-hard-skill">
    <h3>Habiletées</h3>
    <ul class="icon-list">
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/js.png"
          alt="JavaScript, Typescript"
        />
        JavaScript, Typescript
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/css-3.png"
          alt="Css, Scss"
        />
        Css, Scss
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/html-5-logotype.png"
          alt="Html"
        />
        Html
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/node-js.png"
          alt="Node js"
        />
        Node.js
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/Angular.png"
          alt="Angular"
        />
        Angular
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/h-skill/git.png" alt="Git" />
        Git
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/json-file.png"
          alt="JSON"
        />
        JSON
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/webapp.png"
          alt="Web Applications"
        />
        Web Applications
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/h-skill/responsive-design.png"
          alt="Responsive"
        />
        Responsive Design
      </li>
    </ul>
  </div>
  <div id="block-soft-skill">
    <h3>CONNAISSANCES</h3>
    <ul class="icon-list">
      <li>
        <img
          class="img-icon"
          src="assets/imgs/s-skill/python.png"
          alt="Python"
        />
        Python
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/api.png" alt="Rest" />
        Rest api
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/React.png" alt="React" />
        React
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/seo.png" alt="SEO" />
        SEO
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/s-skill/accessability.png"
          alt="WCAG"
        />
        WCAG
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/cms.png" alt="CMS" />
        CMS
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/s-skill/jasmine.png"
          alt="Jasmine"
        />
        Jasmine
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/karma.png" alt="Karma" />
        Karma
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/npm.png" alt="NPM" />
        NPM
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/jira.png" alt="Jira" />
        Jira
      </li>
      <li>
        <img class="img-icon" src="assets/imgs/s-skill/rxjs.png" alt="RXJS" />
        RXJS
      </li>
      <li>
        <img
          class="img-icon"
          src="assets/imgs/s-skill/ngrx-logo.png"
          alt="ngrx"
        />
        NGRX
      </li>
    </ul>
  </div>
  <div id="block-stransferable-skill">
    <h3>ATOUTS TRANSFÉRABLES</h3>
    <ul>
      <li>Gérer des activités dans des délais serrés</li>
      <li>
        Prendre en considération le facteur humain pour favoriser un climat sain
        et agréable
      </li>
      <li>Considérer rigoureusement l’efficience et la qualité des services</li>
      <li>Anglais fonctionnel avancé</li>
      <li>Facilité avec la résolution de problème</li>
      <li>Grand sens de l’adaptabilité</li>
      <li>Bonne communication interpersonnelle, aime le travail d’équipe</li>
      <li>Travailler en équipe et ouverture à la critique</li>
      <li>Autodidacte, apprend rapidement</li>
    </ul>
  </div>
</div>
