:host {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(1fr);
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media (min-width: 768px) {
  /* Tablet */
  :host {
    grid-template-columns: 250px auto;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  :host {
    grid-template-columns: 400px auto;
  }
}
