/* You can add global styles to this file, and also import other style files */
@use "./styles/index" as *;

html,
body,
p {
  & > * {
    box-sizing: border-box;
  }
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--hue-dark-grey-font);
}

hr {
  opacity: 0.3;
  margin: 25px 0;
}

/* header */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  line-height: 1.8rem;
}
